@mixin font($font-family, $font-style, $font-weight, $font-size, $line-height, $color) {
    font-family: $font-family;
    font-style: $font-style;
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
    color: $color;
}
// @include font("Roboto", normal, 400, 24px, 30px, #5E97FF);